.menu_header a{
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    margin: 5px;
 
} 

.menu_header{
    display: flex;
}
.menu_header a{
    display: flex;
}
.align-header{
    background-color: white;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
}
.logo-right{
    flex-wrap: wrap;
    align-items: center ;
    
}
.menu_header a:hover{
    background-color: #02a2dc;
    color: white;
    transition: 0.5s;
}


header a{
    text-decoration: none;
}

li{
    list-style: none;
}


@media only screen and (max-width: 1160px){
    header .container{
        max-width: 100%;
    }
    .align-header{
        flex-direction: column;
    }
    
}  
@media(max-width: 800px){
    .menu_header{
        flex-direction: column;
        position: absolute;
        right: -5px;
        top: 30px;
        padding: 0;
        background-color:#ffffff6e;
        width: 80px;
    }
    .menu_header ul{
        flex-direction: column;
        padding: 0;
        position: absolute;
        display: none;
        right: 10px;
        background-color: #02a2dc44;
    }

    .align-header{
        flex-direction: row;
    }
    .menu-mobile{
    display: flex;
    padding-bottom: 15x;
    flex-direction: column;
    }
    .menu_header a{
        justify-content: space-evenly;
        border: 1px black solid;
        font-size: large;
        border-radius: 3px;  
    
    }
    .mm_line{
        background-color: #02a2dc;
        height: 5px;
        margin: 5px;
    }
    .logo-right{
        margin-left: 20px
    }
    .block3 h2{
        text-align: center;
    }
}