.back-img{
    
    display: flex;
    background-image:url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    
    
}
.text-img{
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    
}
.upp{
    max-width: 40%;
    font-size: 7vw;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
    
}
.low{
    max-width: 35%;
    font-size: 20px;
    color: white;
    
    font-family: Arial, Helvetica, sans-serif;
 
}


.stretch{
    flex:1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    align-items: stretch;
    justify-content: space-evenly;
    display: flex;
    line-height: 20px;
}
.blocks{
    flex:1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    align-items: flex-start;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
}
.article-content h2{
    margin-top: 35px;
    margin-bottom: 25px;
}
article a{
    text-decoration: none;
    color: black;
}

 .blocks a{
    padding: 15px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px white solid;
    color: white;
    text-decoration: none;
}
main .block1 a:hover{
    background-color: azure;
    color: #02a2dc;
    transition: 0.5s;

}
main .block2 a:hover{
    background-color: azure;
    color: #006cbf;
    transition: 0.5s
    
}
.block1{

    background-color: #02a2dc;
    
}
.block2{
    background-color: #006cbf;
  

}
.block3{
    background-color: #044394;
    min-height: 25vh;
    min-width: 100px;

}

.article-content{
    margin-bottom: 35px;
    margin-top: 25px;

 
    
    
}
main aside{
    flex: 1;
   
}

.depart{
    display: flex;
    justify-content: space-between;

}
.depart h2::after{
    content: "";
    max-width: 15%;
    height: 4px;
    background-color: #3f94a8;
    border-top-left-radius: 0;
    display: flex;
    margin-top: 10px;
}
#last-news::after{
    content: "";
    max-width: 10%;
    height: 4px;
    background-color: #3f94a8;
    border-top-left-radius: 0;
    display: flex;
    margin-top: 10px;


}
.date{
    background-color: #023e88;
    color: white;
    margin-right: 2px;
    max-height: 40px;

    
    
}


.qnt{
    background-color: #04a0df;
    color:white;
    max-height: 40px;
    
}
.downside{
    margin-right: 10px;
    flex: 1;
}
.downside p{
   max-width: 350px;
}

.content{
    display: flex;
}
.content img{
    max-width: 350px;
}
.f1{
    flex: 1

}
.f2{
    flex: 2;
}
.wrapper{
    flex-wrap: wrap;
}
.content-text h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-text p{
    padding-right: 20px;
    line-height: 20px;
    


}
.d-block{
    background-color: #02a2dc;
    width: 160px;
    height: 160px;
    margin: 20px 10px 10px 0px;
    align-self: flex-end;
   
  
}

.appointment div{
    align-items: center;
    padding: 5px;
    padding-left: 0;
}
.appointment .py3{
    padding-bottom: 25px
}
.appointment img{
    width: 35px;
}


@media screen (min-width: 400px),(max-width: 800px){
    .upp, .low{
        text-align: center;
        max-width: 100%;
        text-shadow: 1px 1px 2px black;
        

    }
    main .blocks p{
        display: none;
        
    }
    main .block1, main .block2{
        justify-content: space-around;
        align-items: stretch;
    }
    main .blocks h2{
        padding: 20px;
        text-align: center;
    
    }
}